:root {
  --bg: whitesmoke;
  --primary: white;
  --secondary: rgb(0, 120, 255);
  --terciary: black;
  --textcolor: rgb(58, 58, 58);
  --textHighlight: rgb(0, 0, 0);
  --soft: rgba(0, 0, 0, 0.13);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --bg: rgb(15, 15, 15);
    --primary: black;
    --terciary: rgb(255, 255, 255);
    --textcolor: rgb(208, 208, 208);
    --textHighlight: rgb(255, 255, 255);
    --soft: rgba(255, 255, 255, 0.13);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--bg);
  color: var(--textcolor);
}

h1,
h2,
h3,
h4,
a {
  color: var(--textHighlight);
  font-weight: 400;
}

a {}