.all {
    max-width: 800px;
    background: var(--primary);
    padding: 3rem 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.form {
    transform-origin: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-city {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: large;
    border: none;
    background: var(--soft);
}

.submit {
    padding: 0.8rem 1rem;
    font-size: large;
    cursor: pointer;
    outline: none;
    color: var(--primary);
    background-color: var(--terciary);
    border: none;
    border-radius: 0.5rem;
    transition: box-shadow 0.7s ease;
}

.submit:active {
    transform: scale(0.95);
}